body
{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h1{
    font-size: 35px;
}
#lblEnter
{
    font-weight: 50px;
}

.flex-container
{
    display: flex;
    flex-direction: column;
    background-color: #2e8bc0;
    width: 400px;
    height: auto;
    max-height: 400px;
    align-items: center;
    border-radius: 8px;
    margin-top: -20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.flex-container button
{
    margin-top: 10px;
    width: 100px;
}
#lblEnter
{
margin: 10px 0 0 10px;
font-weight: bold;
font-size: 25px;
}
.mainDiv
{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
  
}


.tasklbl
{
    display: flex;
    flex-direction: column;
}

.tasklbl > label
{ 
    text-align: right;
    margin-top: 10px;
}

.tasktxt
{
    display: flex;
    flex-direction: column;
}
.tasktxt > input
{
    margin-top: 10px;
    margin-left: 10px;
    /* font-weight: bold; */
}

#detDiv
{
padding: 10px;
background-color: cadetblue;
width: 320px;
margin-top: 10px;
margin-left: 0px;
overflow-y: scroll;
}


#detDiv button
{
width: 22px;
height: 22px;
font-weight: bold;

}

/* #detDiv input
{
    width: 120px;
} */

#lblDetail
{
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}

